:root {
    /* Define Colors Here */
    --color-1: #141c23;
    --color-2: #1d2a34;
    --color-3: #35898D;
    --color-4: #54F2F2;
    --color-5: #60EDB7;
    --color-6: #6BE87B;
    --color-7: #77E33F;
    --color-8: #82DD03;
    
}